<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.karmon.muthakker" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".MyApplication"
        android:icon="@drawable/logo"
        android:label="المذكّر"
        android:theme="@style/Theme.AppCompat"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="المذكّر"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AthkarSabah"
            android:label="المذكّر"
            android:screenOrientation="portrait" >

        </activity>

        <activity
            android:name=".home"
            android:label="المذكّر"
            android:screenOrientation="portrait" >

        </activity>

        <service
            android:name=".AlarmService"
            android:enabled="true" />

        <receiver android:name=".AlarmReceiver">

        </receiver>

    </application>

</manifest>
